<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="index.css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>

		<div id="app">
			{{ message }}
		</div>
		<div id="example">
			{{ greeting }}
		</div>
    <!-- v-bindのすぐ後ろに書いてある名前の内容に対してバインディングする。（URLを引数として呼び出す）   -->
		<div id="googleLink">
			<a v-bind:href="url">Google</a>
		</div>

		<ul id="app3">
			<li
				v-for="(member, index) in members"
				v-bind:key="member"
			>
				{{ index }}:{{ member }}
			</li>
		</ul>

		<ul id="app4">
			<li
				v-for="character in characters"
				v-bind:key="character"
			>
				{{ character }}
			</li>
		</ul>

		<div id="app5">
		  <p>{{ message }}
			<button v-on:click="reverseMessage">メッセージ反転</button>
		</div>

		<div id="app6">
		  <p>{{ sayHi() + name }}
		</div>
		<div id="app7">
		  <p>現在{{ number }}回クリックされています。</p>
			<button v-on:click="number += 1">カウント</button>
	  </div>
     <!-- HTMLでプラス一ではなくてVUEで定義する。 -->
		<div id="app8">
		  <p>現在{{ number }}回クリックされています。</p>
			<button v-on:click="countUp(1)">カウント</button>
			<button v-on:click.once="countUp(10)">カウント(一回限り)</button>
			<p v-on:mousemove="changeMousePosition">マウスを乗せてください。<span v-on:mousemove="noEvent">ここは反応しません。</span>マウスを乗せてください。</p>
			<!-- スパンの部分をv-on: mousemove.stop と書けば上記の挙動になる。 -->
			<p>X:{{ x}}、Y:{{y}}</p>
	  </div>

		<div id="app9">
			<input type="text" v-model="name">
			<h2>{{ name}}</h2>
		</div>

		<div id="app10">
			<h1 class="red">Vue.js</h1>
		</div>
		
	<script src="index.js"></script>
	</body>
</html>

