<html>
	<head>
		<link rel="stylesheet" href="index.css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>

		<div id="app">
			{{ message }}
		</div>
		<div id="example">
			{{ greeting }}
		</div>

		<div id="googleLink">
			<a v-bind:href="url">Google</a>
		</div>

		<ul id="app3">
			<li
				v-for="(member, index) in members"
				v-bind:key="member"
			>
				{{ index }}:{{ member }}
			</li>
		</ul>

		<ul id="app4">
			<li
				v-for="character in characters"
				v-bind:key="character"
			>
				{{ character }}
			</li>
		</ul>

			<div id="example">
		<input
			v-bind:value="name"
			v-on:input="name = $event.target.value"
		>
		<p>{{ name }}</p>
</div>

	<script src="index.js"></script>
	</body>
</html>

